In [31]:
import pandas as pd
dataset1=pd.read_csv("general_data.csv")

In [32]:
dataset1.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [33]:
dataset1.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [34]:
from scipy.stats import chi2_contingency

In [35]:
dataset1.isnull()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4406,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4407,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4408,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4409,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [36]:
dataset1.isnull().any()

Age                        False
Attrition                  False
BusinessTravel             False
Department                 False
DistanceFromHome           False
Education                  False
EducationField             False
EmployeeCount              False
EmployeeID                 False
Gender                     False
JobLevel                   False
JobRole                    False
MaritalStatus              False
MonthlyIncome              False
NumCompaniesWorked          True
Over18                     False
PercentSalaryHike          False
StandardHours              False
StockOptionLevel           False
TotalWorkingYears           True
TrainingTimesLastYear      False
YearsAtCompany             False
YearsSinceLastPromotion    False
YearsWithCurrManager       False
dtype: bool

In [37]:
dataset=dataset1.dropna()

In [38]:
dataset.isnull().any()

Age                        False
Attrition                  False
BusinessTravel             False
Department                 False
DistanceFromHome           False
Education                  False
EducationField             False
EmployeeCount              False
EmployeeID                 False
Gender                     False
JobLevel                   False
JobRole                    False
MaritalStatus              False
MonthlyIncome              False
NumCompaniesWorked         False
Over18                     False
PercentSalaryHike          False
StandardHours              False
StockOptionLevel           False
TotalWorkingYears          False
TrainingTimesLastYear      False
YearsAtCompany             False
YearsSinceLastPromotion    False
YearsWithCurrManager       False
dtype: bool

In [39]:
dataset.drop_duplicates()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,No,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8

# 1.Testing dependency of Attrition and Age variables using chi square test
## Hypothesis:
1. Ho: There is no dependency betweem Age and Attrition.
1. Ha: There is a dependency betweem Age and Attrition.

In [40]:
chitable=pd.crosstab(dataset.Attrition,dataset.Age)

In [41]:
print(chitable)

Age        18  19  20  21  22  23  24  25  26   27  ...  51  52  53  54  55  \
Attrition                                           ...
No         12   9  15  21  32  30  57  60  80  134  ...  51  44  51  54  57
Yes        11  18  18  18  15  12  21  18  36    9  ...   6   9   6   0   9

Age        56  57  58  59  60
Attrition
No         32  12  27  30  15
Yes         9   0  15   0   0

[2 rows x 43 columns]

In [42]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"  and   p=",p)

stats= 352.3011830696416   and   p= 1.20869585240706e-50

###  As the value of p is less than 0.05 so we can reject the null hypothesis(Ho)

# 2.Testing dependency of Attrition and BusinessTravel variables using chi square test

   ## Hypothesis:
1. Ho: There is no dependency betweem BusinessTravel and Attrition.
1. Ha: There is a dependency betweem BusinessTravel and Attrition.

In [43]:
chitable=pd.crosstab(dataset.Attrition,dataset.BusinessTravel)
print(chitable)

BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
No                     412                621           2644
Yes                     36                204            465

In [44]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"and p= ",p)

stats= 70.07594084831366 and p=  6.07019702736392e-16

###  As the value of p is less than 0.05 so we can reject the null hypothesis(Ho)

# 3.Testing dependency of Attrition and DistanceFromHome variables using chi square test

   ## Hypothesis:
1. Ho: There is no dependency betweem DistanceFromHome and Attrition.
1. Ha: There is a dependency betweem DistanceFromHome and Attrition.

In [45]:
chitable=pd.crosstab(dataset.Attrition,dataset.DistanceFromHome)
print(chitable)

DistanceFromHome   1    2    3    4    5    6    7    8    9    10  ...  20  \
Attrition                                                           ...
No                528  513  219  158  162  156  204  206  218  198  ...  65
Yes                94  114   29   32   30   21   48   33   35   60  ...   9

DistanceFromHome  21  22  23  24  25  26  27  28  29
Attrition
No                48  48  68  75  69  72  27  56  69
Yes                6   9  12   9   6   3   9  11  12

[2 rows x 29 columns]

In [46]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"and p= ",p)

stats= 103.09280258300478 and p=  1.5872525392897128e-10

###  As the value of p is less than 0.05 so we can reject the null hypothesis(Ho)

# 4.Testing dependency of Attrition and Department variables using chi square test

   ## Hypothesis:
1. Ho: There is no dependency betweem department and Attrition.
1. Ha: There is a dependency betweem Department and Attrition.

In [47]:
chitable=pd.crosstab(dataset.Attrition,dataset.Department)
print(chitable)

Department  Human Resources  Research & Development  Sales
Attrition
No                      132                    2416   1129
Yes                      55                     449    201

In [48]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"and p= ",p)

stats= 25.89432541916022 and p=  2.382970570769315e-06

###  As the value of p is less than 0.05 so we can reject the null hypothesis(Ho)

# 5.Testing dependency of Attrition and Education variables using chi square test

   ## Hypothesis:
1. Ho: There is no dependency betweem Education and Attrition.
1. Ha: There is a dependency betweem Education and Attrition.

In [49]:
chitable=pd.crosstab(dataset.Attrition,dataset.Education)
print(chitable)

Education    1    2     3     4    5
Attrition
No         430  683  1438  1003  123
Yes         78  159   263   185   20

In [50]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"and p= ",p)

stats= 6.2735361781270615 and p=  0.17963050984273224

###  As the value of p is more than 0.05 so we can accept the null hypothesis(Ho)

# 6.Testing dependency of Attrition and EducationField variables using chi square test

   ## Hypothesis:
1. Ho: There is no dependency betweem EducationField and Attrition.
1. Ha: There is a dependency betweem EducationField and Attrition.

In [80]:
chitable=pd.crosstab(dataset.Attrition,dataset.EducationField)
print(chitable)

EducationField  Human Resources  Life Sciences  Marketing  Medical  Other  \
Attrition
No                           48           1505        400     1163    214
Yes                          32            301         75      222     30

EducationField  Technical Degree
Attrition
No                           347
Yes                           45

In [81]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"and p= ",p)

stats= 43.132860148900384 and p=  3.472896220587872e-08

###  As the value of p is less than 0.05 so we can reject the null hypothesis(Ho)

# 7.Testing dependency of Attrition and Gender variables using chi square test

   ## Hypothesis:
1. Ho: There is no dependency betweem Gender and Attrition.
1. Ha: There is a dependency betweem Gender and Attrition.

In [82]:
chitable=pd.crosstab(dataset.Attrition,dataset.Gender)
print(chitable)

Gender     Female  Male
Attrition
No           1488  2189
Yes           268   437

In [83]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"and p= ",p)

stats= 1.3825823839528295 and p=  0.23966176275638887

###  As the value of p is more than 0.05 so we can accept the null hypothesis(Ho)

# 8.Testing dependency of Attrition and JobLevel variables using chi square test

   ## Hypothesis:
1. Ho: There is no dependency betweem JobLevel and Attrition.
1. Ha: There is a dependency betweem JobLevel and Attrition.

In [84]:
chitable=pd.crosstab(dataset.Attrition,dataset.JobLevel)
print(chitable)

JobLevel      1     2    3    4    5
Attrition
No         1369  1307  555  267  179
Yes         250   283   96   51   25

In [85]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"and p= ",p)

stats= 7.036480574687178 and p=  0.13397290697032432

###  As the value of p is more than 0.05 so we can accept the null hypothesis(Ho)

# 9.Testing dependency of Attrition and JobRole variables using chi square test

   ## Hypothesis:
1. Ho: There is no dependency betweem JobRole and Attrition.
1. Ha: There is a dependency betweem JobRole and Attrition.

In [86]:
chitable=pd.crosstab(dataset.Attrition,dataset.JobRole)
print(chitable)

JobRole    Healthcare Representative  Human Resources  Laboratory Technician  \
Attrition
No                               333              135                    648
Yes                               56               21                    125

JobRole    Manager  Manufacturing Director  Research Director  \
Attrition
No             263                     381                183
Yes             42                      48                 54

JobRole    Research Scientist  Sales Executive  Sales Representative
Attrition
No                        714              810                   210
Yes                       158              165                    36

In [87]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"and p= ",p)

stats= 21.893724958847 and p=  0.005116592717526599

###  As the value of p is less than 0.05 so we can reject the null hypothesis(Ho)

# 10.Testing dependency of Attrition and MaritalStatus variables using chi square test

   ## Hypothesis:
1. Ho: There is no dependency betweem MaritalStatus and Attrition.
1. Ha: There is a dependency betweem MaritalStatus and Attrition.

In [88]:
chitable=pd.crosstab(dataset.Attrition,dataset.MaritalStatus)
print(chitable)

MaritalStatus  Divorced  Married  Single
Attrition
No                  872     1756    1049
Yes                  98      251     356

In [89]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"and p= ",p)

stats= 133.85785802925156 and p=  8.573051828219379e-30

###  As the value of p is less than 0.05 so we can reject the null hypothesis(Ho)

# 11.Testing dependency of Attrition and MonthlyIncome variables using chi square test

   ## Hypothesis:
1. Ho: There is no dependency betweem MonthlyIncome and Attrition.
1. Ha: There is a dependency betweem MonthlyIncome and Attrition.

In [113]:
chitable=pd.crosstab(dataset.Attrition,dataset.MonthlyIncome)
print(chitable)

MonthlyIncome  10090   10510   10520   10810   10910   11020   11180   11290   \
Attrition
No                  0       3       3       3       3       3       3       0
Yes                 3       0       0       0       0       0       0       3

MonthlyIncome  12000   12230   ...  197170  197400  198330  198450  198470  \
Attrition                      ...
No                  3       3  ...       3       3       3       3       3
Yes                 0       0  ...       0       0       0       0       0

MonthlyIncome  198590  199260  199430  199730  199990
Attrition
No                  0       3       3       3       3
Yes                 3       0       0       0       0

[2 rows x 1349 columns]

In [114]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"and p= ",p)

stats= 4006.81847073142 and p=  2.581841223898078e-261

###  As the value of p is less than 0.05 so we can reject the null hypothesis(Ho)

# 12.Testing dependency of Attrition and NumCompaniesWorked variables using chi square test

   ## Hypothesis:
1. Ho: There is no dependency betweem NumCompaniesWorked and Attrition.
1. Ha: There is a dependency betweem NumCompaniesWorked and Attrition.

In [92]:
chitable=pd.crosstab(dataset.Attrition,dataset.NumCompaniesWorked)
print(chitable)

NumCompaniesWorked  0.0   1.0  2.0  3.0  4.0  5.0  6.0  7.0  8.0  9.0
Attrition
No                  515  1264  390  426  364  141  160  168  129  120
Yes                  69   292   48   48   49   46   48   51   18   36

In [93]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"and p= ",p)

stats= 75.85546138415296 and p=  1.0708854426925246e-12

###  As the value of p is less than 0.05 so we can reject the null hypothesis(Ho)

# 13.Testing dependency of Attrition and PercentSalaryHike variables using chi square test

   ## Hypothesis:
1. Ho: There is no dependency betweem PercentSalaryHike and Attrition.
1. Ha: There is a dependency betweem PercentSalaryHike and Attrition.

In [94]:
chitable=pd.crosstab(dataset.Attrition,dataset.PercentSalaryHike)
print(chitable)

PercentSalaryHike   11   12   13   14   15   16   17   18   19   20   21   22  \
Attrition
No                 538  502  522  510  239  202  199  227  186  138  115  138
Yes                 90   89  100   87   63   29   43   39   42   27   27   30

PercentSalaryHike  23  24  25
Attrition
No                 68  54  39
Yes                15   9  15

In [95]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"and p= ",p)

stats= 19.132665173042696 and p=  0.15994173676121282

###  As the value of p is more than 0.05 so we can accept the null hypothesis(Ho)

# 14.Testing dependency of Attrition and StockOptionLevel variables using chi square test

   ## Hypothesis:
1. Ho: There is no dependency betweem StockOptionLevel and Attrition.
1. Ha: There is a dependency betweem StockOptionLevel and Attrition.

In [96]:
chitable=pd.crosstab(dataset.Attrition,dataset.StockOptionLevel)
print(chitable)

StockOptionLevel     0     1    2    3
Attrition
No                1564  1509  388  216
Yes                316   267   84   38

In [97]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"and p= ",p)

stats= 3.444801419724394 and p=  0.32799207189761653

###  As the value of p is more than 0.05 so we can accept the null hypothesis(Ho)

# 15.Testing dependency of Attrition and TotalWorkingYears variables using chi square test

   ## Hypothesis:
1. Ho: There is no dependency betweem TotalWorkingYears and Attrition.
1. Ha: There is a dependency betweem TotalWorkingYears and Attrition.

In [98]:
chitable=pd.crosstab(dataset.Attrition,dataset.TotalWorkingYears)
print(chitable)

TotalWorkingYears  0.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0   \
Attrition
No                   18   122    66    99   152   214   307   189   259   255
Yes                  14   119    27    27    36    48    65    52    47    30

TotalWorkingYears  ...  30.0  31.0  32.0  33.0  34.0  35.0  36.0  37.0  38.0  \
Attrition          ...
No                 ...    21    24    27    18    12     9    18    12     3
Yes                ...     0     3     0     3     3     0     0     0     0

TotalWorkingYears  40.0
Attrition
No                    0
Yes                   6

[2 rows x 40 columns]

In [99]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"and p= ",p)

stats= 360.55237130857233 and p=  1.1111356799847907e-53

###  As the value of p is less than 0.05 so we can reject the null hypothesis(Ho)

# 16.Testing dependency of Attrition and TrainingTimesLastYear variables using chi square test

   ## Hypothesis:
1. Ho: There is no dependency betweem TrainingTimesLastYear and Attrition.
1. Ha: There is a dependency betweem TrainingTimesLastYear and Attrition.

In [100]:
chitable=pd.crosstab(dataset.Attrition,dataset.TrainingTimesLastYear)
print(chitable)

TrainingTimesLastYear    0    1     2     3    4    5    6
Attrition
No                     132  183  1351  1208  318  303  182
Yes                     30   29   278   258   47   51   12

In [101]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"and p= ",p)

stats= 22.87287815507605 and p=  0.000840192196419255

###  As the value of p is less than 0.05 so we can reject the null hypothesis(Ho)

# 17.Testing dependency of Attrition and YearsAtCompany variables using chi square test

   ## Hypothesis:
1. Ho: There is no dependency betweem YearsAtCompany and Attrition.
1. Ha: There is a dependency betweem YearsAtCompany and Attrition.

In [102]:
chitable=pd.crosstab(dataset.Attrition,dataset.YearsAtCompany)
print(chitable)

YearsAtCompany  0    1    2    3    4    5    6    7    8    9   ...  27  29  \
Attrition                                                        ...
No              84  333  300  322  272  521  200  235  212  219  ...   6   6
Yes             47  176   81   59   56   61   27   33   27   24  ...   0   0

YearsAtCompany  30  31  32  33  34  36  37  40
Attrition
No               3   6   6  12   3   6   3   0
Yes              0   3   3   3   0   0   0   3

[2 rows x 37 columns]

In [103]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"and p= ",p)

stats= 284.1905063085053 and p=  2.434867576146702e-40

###  As the value of p is less than 0.05 so we can reject the null hypothesis(Ho)

# 18.Testing dependency of Attrition and YearsSinceLastPromotion variables using chi square test

   ## Hypothesis:
1. Ho: There is no dependency betweem YearsSinceLastPromotion and Attrition.
1. Ha: There is a dependency betweem YearsSinceLastPromotion and Attrition.

In [104]:
chitable=pd.crosstab(dataset.Attrition,dataset.YearsSinceLastPromotion)
print(chitable)

YearsSinceLastPromotion    0    1    2    3    4    5   6    7   8   9   10  \
Attrition
No                       1405  916  396  128  166  129  77  179  54  39  15
Yes                       325  146   81   27   15    6  18   48   0  12   3

YearsSinceLastPromotion  11  12  13  14  15
Attrition
No                       65  30  24  24  30
Yes                       6   0   6   3   9

In [105]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"and p= ",p)

stats= 64.22958433145763 and p=  4.66086831785978e-08

###  As the value of p is less than 0.05 so we can reject the null hypothesis(Ho)

# 19.Testing dependency of Attrition and YearsWithCurrManager variables using chi square test

   ## Hypothesis:
1. Ho: There is no dependency betweem YearsWithCurrManager and Attrition.
1. Ha: There is a dependency betweem YearsWithCurrManager and Attrition.

In [106]:
chitable=pd.crosstab(dataset.Attrition,dataset.YearsWithCurrManager)
print(chitable)

YearsWithCurrManager   0    1    2    3    4   5   6    7    8    9   10  11  \
Attrition
No                    530  194  878  367  260  81  73  551  290  171  72  63
Yes                   252   33  149   55   33  12  12   93   30   18   9   3

YearsWithCurrManager  12  13  14  15  16  17
Attrition
No                    54  42   9  15   6  21
Yes                    0   0   6   0   0   0

In [107]:
stats,p,dof,expected=chi2_contingency(chitable)
print("stats=",stats,"and p= ",p)

stats= 220.87460913849154 and p=  1.7543020110084458e-37

###  As the value of p is less than 0.05 so we can reject the null hypothesis(Ho)

## Krushkal wallis test

In [53]:
dataset.MaritalStatus

0       1
1       2
2       1
3       1
4       2
       ..
4404    2
4405    2
4406    0
4407    1
4408    0
Name: MaritalStatus, Length: 4382, dtype: object

In [28]:
# dataset["MaritalStatus"].eq("Married").mul(1)
# dataset["MaritalStatus"].eq("Divorced").mul(0)
# dataset["MaritalStatus"].eq("Single").mul(2)

0       0
1       2
2       0
3       0
4       2
       ..
4404    2
4405    2
4406    0
4407    0
4408    0
Name: MaritalStatus, Length: 4382, dtype: int32

In [86]:
dataset.MaritalStatus[dataset.MaritalStatus == 'Married'] = 1
dataset.MaritalStatus[dataset.MaritalStatus == 'Divorced'] = 0
dataset.MaritalStatus[dataset.MaritalStatus == 'Single'] = 2

C:\Users\SRJ\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\SRJ\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\SRJ\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [54]:
from scipy.stats import kruskal

data1 = dataset[dataset["MaritalStatus"] == 0]
data2 = dataset[dataset["MaritalStatus"] == 1]
data3 = dataset[dataset["MaritalStatus"] == 2]

In [56]:
stats,p = kruskal(data1.Education,data2.Education,data3.Education)
print(stats,p)

2.0504496783230346 0.3587158029778906

In [57]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Accept H0

### So we can conclude that there is no significance difference between MaritalStatus_Single.Education,MaritalStatus_Married.Education,MaritalStatus_Divorced.Education

## Mannwhitney test

In [85]:
dataset.Attrition[dataset.Attrition == 'Yes'] = 1
dataset.Attrition[dataset.Attrition == 'No'] = 0

C:\Users\SRJ\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\SRJ\anaconda3\lib\site-packages\pandas\core\generic.py:8767: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
C:\Users\SRJ\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [67]:
from scipy.stats import mannwhitneyu

data1 = dataset[dataset["Attrition"] == 0]
data2 = dataset[dataset["Attrition"] == 1]

#### HO = There is no significant difference between Attrition_yes.MonthlyIncome and Attrition_No.MonthlyIncome

#### H1 = There is significant difference between Attrition_yes.MonthlyIncome and Attrition_No.MonthlyIncome

In [69]:
stats, p = mannwhitneyu(data1.MonthlyIncome,data2.MonthlyIncome)
print(stats,p)

1249573.5 0.06508807631576838

In [70]:
if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Accept H0

#### So we can conclude that there is no significant difference between Attrition_yes.MonthlyIncome and Attrition_No.MonthlyIncome

# Two sample Independent T-Test¶

In [71]:
from scipy.stats import friedmanchisquare

In [73]:
from scipy.stats import ttest_ind

#### HO = There is no significance difference between mean of MonthlyIncome of employees having attrition and no-attrition

#### H1 = There is significance difference between mean of MonthlyIncome of employees having attrition and no-attrition

In [83]:

stats,p = ttest_ind(data1.MonthlyIncome,data2.MonthlyIncome)
print(stats,p)

1.9969640177214658 0.045890862744972095

In [84]:

if(p < 0.05):
    print("Reject H0")
else:
    print("Accept H0")

Reject H0

#### So we can conclude that there is significance difference between mean of MonthlyIncome of employees having attrition and no-attrition